{
  "rootDir": "{{ salt['pillar.get']('aptly:rootdir') }}",
  "downloadConcurrency": 4,
  "architectures": [],
  "dependencyFollowSuggests": false,
  "dependencyFollowRecommends": false,
  "dependencyFollowAllVariants": false,
  "dependencyFollowSource": false,
{% if salt['pillar.get']('aptly:secure') %}
  "gpgDisableSign": false,
  "gpgDisableVerify": false,
{% else %}
  "gpgDisableSign": false,
  "gpgDisableVerify": false,
{% endif %}
  "downloadSourcePackages": false,
  "ppaDistributorID": "ubuntu",
  "ppaCodename": ""
}
