aptly:
  lookup:
    homedir: /var/lib/aptly
    rootdir: /var/lib/aptly/repo
    use_aptly_repo: True
    install_packages: True
    create_user: True
    secure: True
    gpg_command: 'gpg'
    gpg_keyring: 'trustedkeys.gpg'
    user:
      uid: 0
      gid: 0
  architectures:
    - amd64
    - i386
    - all
    - source
  repos:
    repo01:
      components:
        - main
        - contrib
        - non-free
      distributions:
        - wheezy
        - sqeezy
      comment: "Software Repo"
      pkgdir: /srv/pkgs
  mirrors:
    google-earth-main:
      url: http://dl.google.com/linux/earth/deb/
      distribution: stable
      components:
        - main
      keyids:
        - 7FAC5991
        - 640DB551
      architectures:
        - amd64
      prefix: "google-earth-main"
    salt-main:
      url: http://repo.saltstack.com/apt/ubuntu/ubuntu14/latest
      distribution: trusty
      components:
        - main
      keyids:
        - DE57BFBE
      architectures:
        - amd64
  s3Endpoints:
    test:
      region: us-west-2
      bucket: bucketnamegoeshere
      awsAccessKeyID: ""
      awsSecretAccessKey: ""
      prefix: ""
      acl: "private"
      storageClass: ""
      encryptionMethod: ""
      plusWorkaround: "false"
  gpg_keypair_id: 00000000
  gpg_passphrase: 'my voice is my passport'
  gpg_pub_key: |
      -----BEGIN PGP PUBLIC KEY BLOCK-----
      Version: GnuPG v1.4.12 (GNU/Linux)

      ....
      -----END PGP PUBLIC KEY BLOCK-----
  gpg_priv_key: |
      -----BEGIN PGP PRIVATE KEY BLOCK-----
      Version: GnuPG v1.4.12 (GNU/Linux)

      ....
      -----END PGP PRIVATE KEY BLOCK-----
